*{
    margin: 0;
    padding: 0; 
    color: rgb(0, 0, 0);

}

/* Front section*/
body {
    background-image: url(IMG_1080.jpeg) ;
    background-size:100%;
    background-repeat: no-repeat;
}
nav{

    height:60px;
    background-color:white;   
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}

.bar a{
    margin-right: 40px;
    text-decoration: none;
    
}
h1{
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info{
    margin-left:50px;
    margin-top: 150px;
    font-size: 2.5rem;
}
button{

    margin-top:30px ;
    margin-left: 40px;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-radius:40px;
    color: black;
    background-color: white;
}
h6{
    font-size: 0.8rem;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
    color: white;
}
/*menu*/

.menu{
    margin-top:90px;
    background-color:white;
    text-align:center;
}
.two{
    background-color:rgb(74, 41, 41);
    color:white;
    justify-content:center;
    align-items:center;
    margin-right:35px;
}
.fav{
    margin:20px;
    align-items:center;
      
}

.about h1{
    color:rgb(44, 13, 13);
    font-size:3rem;
}

.container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
     flex-wrap:wrap;
     gap:70px;
     
   
    
}
   .image{
    text-align:center;
    width:220px;
    align-items:center; 
     border-radius:20px;
     
        border:1px solid transparent;
        object-fit:cover;
    margin-top:30px;
    
    
   
   }
   .image img{
    display:block;
    border-radius:20px;
    height:300px;
    width:220px;
    object-fit:cover;
    transition:0.5s;
   }
.image img:hover{
  transform:scale(1.08);
       
    
   }
    .image p{
    margin-top:10px;
        font-size:1.5em;
      text-align:center;
     }
/*section 2*/
.sec2{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:1px;
    justify-content:center;
    margin-top:20px;
}

.cute{
    height:400px;
    background-color:#fdf5ed;
    margin:20px;
    transition: 0.5s;
     border-radius: 20px;
     
}

.overlay{
    margin-top: 50px;
    width:100%;
     padding-top: 20px;
    
    padding-bottom: 30px;
    background:#fdf5ed;
}

.overlay h1{
      text-align:center;
    font-size:42px;
    color:#4b2e1f;

    margin-bottom:50px;
}

.features{
    display:flex;
    
    justify-content:space-between;
    gap:30px;
}

.banner{
    flex:1;
       padding:0 25px;
    border-right:1px solid #d8c7b8;
}

.banner:last-child{
    border-right:none;

}

.banner h3{
    font-size:24px;
    color:#3b2416;

    margin-bottom:12px;
}
/*.sec2{
        display: grid;
        grid-template-columns: repeat(3,1fr);*/
        
    
.banner p{
    font-size:17px;
    color:#555;
      line-height:1.7;
}

@media(max-width:768px){
    .features{
       flex-direction:column;
       
    }
    .cute h1{
        font-size: 16px !important;
        margin-left: 3px !important;
    }
    .cute p{
        font-size:14px !important;
        margin-left:10px;
    }

    .sec2{
        grid-template-columns: repeat(2,1fr);
    }
    .cute{
        width:100%;
        margin: 0;
    }

    .banner{
        border-right:none;
        border-bottom:1px solid #d8c7b8;
         padding:20px 0;
    
        }

    .banner:last-child{
        border-bottom:none;
    }
        }
.cute img{
    width:100%;
     border-radius: 20px 20px 0px 0;
    height:300px;
    object-fit: fill;
    
    

}
.cute h1{
    color:rgb(0, 0, 0);
    justify-content: start;
    font-size: 1.4em;
}
.cute p{
    color:brown;
         padding: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 20px;
}
 .cute:hover{
    transform: scale(1.03);
    
}

/*phone view*/
@media only screen and (max-width: 820px) and (orientation: portrait) {

    .cute h1{
        font-size: 18px;
       justify-content: center; 
        }

    .cute p{
        font-size:14px;
    }
    .sec2{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1px;
    justify-content:center;
    margin-top:20px;
}
.info{
    margin-left:50px;
    margin-top: 50px;
    font-size: 2rem;
}
button{

    margin-top:10px ;
    margin-left:0px;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius:40px;
    color: black;
    background-color: white;
}
h6{
    font-size: 0.8rem;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    color: white;
}

}